#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

  / {
      keymap {
          compatible = "zmk,keymap";

          default_layer {
              bindings = <
                  &kp N7  &kp N8    &mo 1
                  &kp N4  &kp N5    &kp N6
                  &kp N1  &kp N2    &kp N3
              >;
          };

          function_layer {
              bindings = <
                  &kp F1      &studio_unlock       &trans
                  &kp C_PREV  &kp N9       &kp C_NEXT
                  &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP
              >;
          };
      };
  };