#include <dt-bindings/led/led.h>

&pinctrl {
    pio0_ws2812_default: pio0_ws2812_default {
        ws2812 {
            pinmux = <PIO0_P26>;  /* D0 = GPIO26 */
        };
    };
};

&pio0 {
    status = "okay";

    pio_ws2812: ws2812 {
        compatible = "worldsemi,ws2812-rpi_pico-pio";
        status = "okay";
        pinctrl-0 = <&pio0_ws2812_default>;
        pinctrl-names = "default";
        gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;

        chain-length = <1>;  /* Start with 1 LED for testing */
        color-mapping = <LED_COLOR_ID_GREEN
                         LED_COLOR_ID_RED
                         LED_COLOR_ID_BLUE>;

        /* SK6812 timing parameters */
        frequency = <800000>;
        bit-waveform = <3>, <3>, <4>;
        reset-delay = <280>;
    };
};

/ {
    chosen {
        zmk,underglow = &pio_ws2812;
    };
};
